*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    background: url('assets/bg2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav{
    background-color: rgb(89, 7, 7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
  }
  nav a:hover{
    background-color: #340303;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(112, 87, 87, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }


main { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 2rem; 
    color: white;
}

h1, h2 { 
    margin-bottom: 1rem; 
    color: white;
}

section { 
    margin-bottom: 3rem; 
}

.cta-button, button { 
    display: inline-block; 
    padding: 0.75rem 1.5rem; 
    background-color: #1a73e8; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

.cta-button:hover, button:hover { 
    background-color: #0d47a1; 
}



form { 
    display: flex; 
    flex-direction: column; 
    max-width: 500px; 
}

.search{
  --padding: 14px;
  height: 10px;
  width: max-content;
  display: flex;
  color: black;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: white;
}

.search-input{
  font-size: 16px;
  font-family: sans-serif;
  color: grey;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
}

label { 
    margin-top: 1rem; 
}

input, select, textarea { 
    padding: 0.5rem; 
    margin-top: 0.25rem; 
    border: 1px solid #ed1313; 
    border-radius: 4px; 
}

button[type="submit"] { 
    margin-top: 1rem; 
    align-self: flex-start; 
}

footer { 
    background-color: #261818; 
    color: white;
    text-align: center; 
    padding: 1rem; 
}