*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(image/bg3.jpg);
    background-size: cover;
    background-position: center;
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: linear-gradient(to right,rgb(255, 255, 255), rgb(92, 211, 232));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

section nav .logo{
    font-size: 35px;
    color: #020202;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -4%;
}

section nav ul{
    list-style: none;
}


section nav ul li{
    display: inline-block;
    margin: 5px 15px;
}

section nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

section nav ul li a:hover{
    color: #00a2ff;
}

section nav .icons i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

section nav .icons i:hover{
    color: #03c4ff;
}
 
section .main .main_content{
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

section .main .main_content .main_text h1{
    font-size: 50px;
    line-height: 70px;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right,#57ced7,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: left;
    top: 45px;
    left: 5%;
}

section .main .main_content .main_text .main_image{
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 2rem; 
}
