* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 15px;
    text-align: center;
    background-color: azure;
}

.nav {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #a7dbdd;
    color: black;
}

.active {
    background-color: #a7dbdd;
    color: black;
}

.konten {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

.footer {
    padding: 20px;
    text-align: center;
    border-top-style: solid;
    background-color: rgb(204, 209, 209);
}